<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HumanResource</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeesServlet</display-name>
    <servlet-name>EmployeesServlet</servlet-name>
    <servlet-class>com.ktds.hskim.web.EmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesServlet</servlet-name>
    <url-pattern>/emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentsServlet</display-name>
    <servlet-name>DepartmentsServlet</servlet-name>
    <servlet-class>com.ktds.hskim.web.DepartmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentsServlet</servlet-name>
    <url-pattern>/dep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobsServlet</display-name>
    <servlet-name>JobsServlet</servlet-name>
    <servlet-class>com.ktds.hskim.web.JobsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobsServlet</servlet-name>
    <url-pattern>/jbs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationsServlet</display-name>
    <servlet-name>LocationsServlet</servlet-name>
    <servlet-class>com.ktds.hskim.web.LocationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationsServlet</servlet-name>
    <url-pattern>/lcs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountriesServlet</display-name>
    <servlet-name>CountriesServlet</servlet-name>
    <servlet-class>com.ktds.hskim.web.CountriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountriesServlet</servlet-name>
    <url-pattern>/cts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobHistoryServlet</display-name>
    <servlet-name>JobHistoryServlet</servlet-name>
    <servlet-class>com.ktds.hskim.web.JobHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobHistoryServlet</servlet-name>
    <url-pattern>/jhs</url-pattern>
  </servlet-mapping>
</web-app>